HELP.md

target/
logs/
input/
*.log

### Maven Wrapper
.mvn/wrapper/maven-wrapper.jar

### Environment
.env
.env.*

### OS
.DS_Store
Thumbs.db

### IntelliJ IDEA
.idea/
*.iml
*.iws
*.ipr

### VS Code
.vscode/

### STS
.apt_generated
.classpath
.factorypath
.project
.settings
.springBeans
.sts4-cache

### Build
build/
